.thead {
    th {
        text-align: center;
        &:first-child,
        &:last-child {
            width: 20%;
        }
    }
}
.active {
    background-color: blue;
    color: white;
}
.message {
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &:hover {
        background-color: blue;
        color: white;
    }
}
