<!-- <ul>
  <li><a [routerLink]="['profile', id]"> Profile</a></li>
  <li><a [routerLink]="['login']">Login</a></li>
  <li><a [routerLink]="['register']">Sigup</a></li>
</ul> -->
<p-toolbar>
  <div class="p-toolbar-group-right">
    <p-tabMenu [model]="items" [activeItem]="items[indexActiveItem]">

    </p-tabMenu>

  </div>
  <!-- <div class="p-toolbar-group-left">
    <div class="wr-logout">
      <p-button [label]="currentUser" icon="pi pi-chevron-down" iconPos="right" id="user-name"
        styleClass="p-button-secondary p-button-text">
      </p-button>
      <p-button label="Log out" id="btn-logout"></p-button>
    </div>
    <p-button icon="pi pi-home" iconPos="left"></p-button>
    <p-button label="New Message" icon="pi pi-envelope" iconPos="left"></p-button>
  </div> -->


</p-toolbar>
