<div [style]="{'display':'flex', 'justify-content': 'flex-end', 'align-items':'center','padding':'.5rem 0'}">
  <app-setting></app-setting>
</div>
<form [formGroup]="queryForm">

  <p-panel [style]="{'width':'100%'}">
    <span class="p-input-icon-right" style="width:100%">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Type your video name you want to watch"
        formControlName="keyWordControl" [style]="{width:'100%'}">
    </span>

    <div style="margin: .5rem 0 0 0">
      <p-dropdown [options]="option" optionLabel="name" styleClass="form-control" formControlName="orderControl"
        placeholder="Order" dataKey="code" optionValue="code">
      </p-dropdown>

      <span class="p-input-icon-right middle">
        <small>Date From/After: </small>
        <p-calendar formControlName="dateFromControl" dateFormat="dd-mm-yy"></p-calendar>
      </span>
      <span class="p-input-icon-right">
        <small>Date to/Before: </small>
        <p-calendar formControlName="dateToControl" dateFormat="dd-mm-yy"></p-calendar>
      </span>
    </div>


  </p-panel>




</form>
