.action-view {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid #c7c8c9;
  .action {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
  }
}
:host ::ng-deep {
  p-dropdown {
    .p-dropdown-label {
      min-width: 100px !important;
    }
  }
}
