<div class="todolist__display" *ngIf="toDoList.length > 0; else nothing">
  <ng-container *ngFor="let item of toDoList | sort">
    <app-item
      [item]="item"
      [str]="str"
      (changeStatus)="changeStatus.emit($event)"
      (remove)="remove.emit($event)"
      (upPriority)="upPriority.emit($event)"
      (downPriority)="downPriority.emit($event)"
    >
      <p #content>{{ s }}</p>
    </app-item>
  </ng-container>
</div>
<ng-template #nothing>
  <div class="nothing">You have nothing to do</div>
  <hr />
</ng-template>
