.main {
    display: flex;
    padding-top: 12px;
    &-menu {
        width: 20%;
    }

    &-body {
        width: 80%;
        height: 344px;
        overflow-y: scroll;
        padding: 0 12px;
    }
}
