<div class="table">
  <h1>A Simple Web App</h1>
  <p>OrderBy:</p>
  <p-dropdown
    [options]="fields"
    placeholder="Select field to sort"
    optionLabel="name"
    [showClear]="true"
    (onChange)="onChangeField($event)"
  ></p-dropdown>
  <p-dropdown
    [options]="sortOption"
    placeholder="Select option to sort"
    [showClear]="true"
    (onChange)="onChangeSort($event)"
  ></p-dropdown>
  <p-table [value]="userList | orderBy: selectedField:selectedSort">
    <ng-template pTemplate="header">
      <tr>
        <th appIcon [field]="selectedFieldName" [sort]="selectedSort" id="thId">
          Id
        </th>
        <th appIcon [field]="selectedFieldName" [sort]="selectedSort">
          First Name
        </th>
        <th appIcon [field]="selectedFieldName" [sort]="selectedSort">
          Last Name
        </th>
        <th
          appIcon
          [field]="selectedFieldName"
          [sort]="selectedSort"
          id="thEmail"
        >
          Email
        </th>
        <th appIcon [field]="selectedFieldName" [sort]="selectedSort">
          Gender
        </th>
        <th appIcon [field]="selectedFieldName" [sort]="selectedSort">
          Birthday
        </th>
        <th
          appIcon
          [field]="selectedFieldName"
          [sort]="selectedSort"
          id="thSalary"
        >
          Salary
        </th>
        <th appIcon [field]="selectedFieldName" [sort]="selectedSort">Phone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td class="tdId">{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.birthday | date: "dd/MM/yyyy" }}</td>
        <td class="tdSalary">{{ user.salary }}</td>
        <td>{{ user.phone | phone }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
