.table {
  h1 {
    text-align: center;
    margin: 30px 0;
  }
  p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }
  #thEmail {
    width: 20%;
  }
  #thId {
    width: 4%;
  }
  #thSalary {
    width: 6%;
  }
}
