.content {
    padding: 12px;
    border: 1px solid black;
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        background-color: rgba($color: #000, $alpha: 0.3);
        &-handle {
            div {
                button {
                    margin: 0 12px;
                }
            }
        }
    }
    &-body {
        padding: 12px 24px 32px;
        p {
            white-space: pre-line;
        }
    }
}
