/* You can add global styles to this file, and also import other style files */
img {
  max-width: 100%;
}

.selected {
  background: #0f86e5;
}

header {
  background: #2196f3;
  text-align: right;

}

header ul {
  display: flex;
  justify-content: flex-end;
}

header ul li {
  padding: 20px 10px;
  margin-right: 20px;
  list-style: none;
  color: white;
}

header ul li a {
  color: white;
  text-decoration: none;
}

.error {
  color: #ff0000b8;
  margin-top: 15px;
  display: block;
}

input.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid green;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-general {
  width: 49%;
  float: left;
}

.bg,
.bg-login {
  background: #3187cc;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

.bg-login label {
  color: white;
}

.form-profile {
  display: flex;
  justify-content: space-between;
}

.form-profile .form-group {
  width: 49%;
}

.button-login {
  margin-left: auto;
  display: block;
  border-radius: 12px;
  background: #F31F24;
  border: none;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.app-profile {
  display: flex;
  justify-content: space-evenly;
}

.app-profile img {
  object-fit: contain;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:460px) {
  .app-profile img {
    width: 50%;
    margin: 0 auto;
  }

  .form-general {
    width: 100%;

  }

  .app-profile {
    flex-direction: column;
  }
}
