/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  .p-dropdown {
    margin: 20px;
  }

  .p-datatable {
    .p-datatable-tbody {
      tr {
        .tdId {
          text-align: right;
        }
        .tdSalary {
          text-align: right;
        }
      }
    }
  }
}
